@import url(https://fonts.googleapis.com/css?family=Red+Rose&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-01:before {
  content: "\e900";
}

._icon-02:before {
  content: "\e901";
}

._icon-03:before {
  content: "\e902";
}

._icon-04:before {
  content: "\e903";
}

._icon-05:before {
  content: "\e904";
}

._icon-06:before {
  content: "\e905";
}

:root {
  --primary: #0a9396;
  --secondary: #94d2bd;
  --accent: #0090c1;
  --inverse: #ffff3f;
  --bg-primary: #2C2D31;
  --bg-secondary: #1D1E22;
  --bg-accent: #52FFE0;
  --text-primary: #818698;
  --text-secondary: #080708;
  --text-accent: #2C2D31;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Red Rose";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Red Rose";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #101010;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 103.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 15px 29px;
  font-size: 18px;
  letter-spacing: 0.36px;
  background-color: var(--bg-accent);
  color: #2C2D31;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button._fw {
  width: 100%;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.label {
  font-size: 30px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.arrows-slider {
  position: absolute;
  top: 50%;
  background-color: var(--bg-primary);
  padding: 1.25rem;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
}

.arrows-slider:hover {
  background-color: var(--bg-accent);
}

.arrows-slider:hover path {
  fill: black;
}

.header {
  padding: 2.3125rem 0rem 2.3125rem 0rem;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
}

.header__logo {
  z-index: 5;
}

.header__button {
  white-space: nowrap;
}

.menu__item {
  text-align: right;
}

.menu__link {
  letter-spacing: 0.36px;
}

.menu__link:hover {
  text-decoration: underline;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: var(--bg-secondary);
  padding: 2.375rem 0;
}

.footer__container {
  max-width: 90.125rem;
}

.footer__top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 152px auto 152px auto;
  grid-template-columns: repeat(3, auto);
  -webkit-column-gap: 152px;
     -moz-column-gap: 152px;
          column-gap: 152px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
      grid-template-areas: "logo menu card";
  margin: 0rem 0rem 3rem 0rem;
}

.top-footer__logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
}

.top-footer__columns {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: menu;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-footer__column:not(:last-child) {
  margin: 0rem 6.375rem 0rem 0rem;
}

.top-footer__column-title {
  white-space: nowrap;
  margin: 0rem 0rem 1rem 0rem;
}

.top-footer__column-list:not(:last-child) {
  margin: 0rem 0rem 0.625rem 0rem;
}

.top-footer__column-link {
  font-size: 1rem;
  color: #DFE5F5;
}

.top-footer__column-link:hover {
  text-decoration: underline;
}

.top-footer__card {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: card;
  background-color: var(--bg-accent);
  padding: 5rem 3rem;
  border-radius: 30px;
  position: relative;
}

.top-footer__card-title {
  color: #1D1E22;
  font-size: 1.5rem;
  letter-spacing: 0.96px;
  margin: 0rem 0rem 0.9375rem 0rem;
}

.top-footer__card-input {
  position: relative;
}

.top-footer__card-button_input {
  position: absolute;
  top: 0;
  right: 0;
}

.top-footer__card-decoration {
  position: absolute;
  bottom: -10%;
  right: -5%;
}

.input {
  background-color: var(--bg-accent);
  border-bottom: 1px solid #3FC9B0;
  padding: 0rem 0rem 1.3125rem 0rem;
  font-size: 1rem;
  color: #1D1E22;
  width: 100%;
  min-width: 14.4375rem;
  outline: none;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-footer__title {
  white-space: nowrap;
  color: #DFE5F5;
  font-size: 1rem;
}

.bottom-footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom-footer__link {
  white-space: nowrap;
  color: #DFE5F5;
  font-size: 1rem;
  cursor: pointer;
}

.bottom-footer__link:not(:last-child) {
  margin: 0rem 0.9375rem 0rem 0rem;
}

.bottom-footer__link:hover {
  text-decoration: underline;
}

.bottom-footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom-footer__social:not(:last-child) {
  margin: 0rem 1.5rem 0rem 0rem;
}

.main {
  margin: 2.5rem 0rem 5.625rem 0rem;
}

.main__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
  grid-template-columns: 1fr auto;
      grid-template-areas: "title image" "decorations image";
}

.main__info {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
}

.main__label {
  font-size: 36px;
  letter-spacing: 1.44px;
  margin: 0rem 0rem 1rem 0rem;
}

.main__title {
  font-size: 72px;
  letter-spacing: 2.88px;
  text-transform: uppercase;
  margin: 0rem 0rem 4rem 0rem;
}

.main__decorations {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: decorations;
}

.main__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__ratings {
  position: relative;
}

.main__images {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  position: relative;
  grid-area: image;
}

.main__image {
  position: relative;
}

.main__image img {
  width: 37.5rem;
  height: 37.5rem;
  border-radius: 110px;
}

.main__background {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 32.5rem;
  height: 32.5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#7F1CFC), to(#59DCDC));
  background: linear-gradient(180deg, #7F1CFC 0%, #59DCDC 100%);
  -webkit-filter: blur(50px);
          filter: blur(50px);
  z-index: -1;
}

.main__circle {
  position: absolute;
  bottom: 0;
  left: -10%;
}

.actions-main__button {
  height: 3.125rem;
  margin: 0rem 3.375rem 0rem 0rem;
}

.actions-main__avatars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.actions-main__avatar:not(:first-child) {
  margin: 0rem 0rem 0rem -1rem;
}

.actions-main__arrow {
  margin: 0rem 0rem 0rem 0.9375rem;
}

.ratings-main__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ratings-main__column {
  text-align: center;
}

.ratings-main__column:not(:last-child) {
  margin: 0rem 8.5625rem 0rem 0rem;
}

.ratings-main__number {
  color: #FFF;
  font-size: 30px;
  letter-spacing: 0.6px;
  margin: 0rem 0rem 0.5rem 0rem;
}

.ratings-main__text {
  color: var(--text-primary);
  font-size: 16px;
  letter-spacing: 0.32px;
}

.circle-main {
  background-color: rgba(129, 134, 152, 0.2);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  width: 8.125rem;
  height: 8.125rem;
  border-radius: 50%;
}

.circle-main__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.circle-main__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.categories {
  margin: 0rem 0rem 7.5rem 0rem;
}

.categories__label {
  margin: 0rem 0rem 4.5rem 0rem;
}

.categories__body {
  position: relative;
  height: 22.9375rem;
}

.categories__slider {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slider-categories__arrow-l {
  left: -2.1875rem;
}

.slider-categories__item {
  background-color: var(--bg-primary);
  border-radius: 50px;
  padding: 0.625rem 0.625rem 3.1875rem 0.625rem;
}

.slider-categories__item:not(:last-child) {
  margin: 0rem 1.875rem 0rem 0rem;
}

.slider-categories__image {
  margin: 0rem 0rem 3.1875rem 0rem;
}

.slider-categories__description {
  text-align: center;
}

.slider-categories__arrow-r {
  right: -2.1875rem;
}

.collections {
  background-color: var(--bg-secondary);
  padding: 7.5rem 0rem 5.375rem 0rem;
  margin: 0rem 0rem 7.5rem 0rem;
}

.collections__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0rem 0rem 3rem 0rem;
}

.collections__label {
  width: 100%;
}

.collections__buttons {
  background-color: var(--bg-primary);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.collections__button-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.collections__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 30px auto 30px auto 30px auto;
  -ms-grid-columns: auto 30px auto 30px auto;
      grid-template: repeat(4, auto)/repeat(3, auto);
  grid-auto-flow: column;
  gap: 30px;
  margin: 0rem 0rem 5.125rem 0rem;
}

.collections__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--bg-primary);
  border-radius: 30px;
  padding: 0.625rem 2.5rem 0.625rem 0.625rem;
}

.buttons-collections__button {
  padding: 1.25rem 2.9375rem;
  white-space: nowrap;
  border-radius: 20px;
  margin: 0.3125rem 0rem 0.3125rem 0.3125rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.buttons-collections__button._active {
  background-color: var(--bg-secondary);
}

.item-collections__image {
  position: relative;
  margin: 0rem 1.5rem 0rem 0rem;
}

.item-collections__image-num {
  position: absolute;
  top: -5%;
  right: -5%;
  background-color: var(--bg-accent);
  color: #2C2D31;
  padding: 0.4375rem 0.75rem;
  border-radius: 50%;
}

.item-collections__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.item-collections__texts {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.item-collections__title {
  font-size: 1.5rem;
}

.item-collections__text {
  font-size: 1rem;
  color: var(--text-primary);
}

.item-collections__price {
  white-space: nowrap;
}

.item-collections__price div:not(:last-child) {
  margin: 0rem 0rem 0.3125rem 0rem;
}

.item-collections__eth {
  font-size: 1rem;
}

.item-collections__m {
  font-size: 1rem;
  color: var(--text-primary);
}

.item-collections__interest {
  font-size: 0.875rem;
  color: #52FFE0;
}

.tranding {
  margin: 0rem 0rem 7.5rem 0rem;
}

.tranding__label {
  margin: 0rem 0rem 4.5rem 0rem;
}

.tranding__body {
  position: relative;
}

.tranding__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slider-tranding__item {
  background-color: var(--bg-secondary);
  border-radius: 40px 40px 30px 30px;
}

.slider-tranding__item:not(:last-child) {
  margin: 0rem 1.8125rem 0rem 0rem;
}

.slider-tranding__image {
  margin: 0rem 0rem 1rem 0rem;
}

.slider-tranding__info {
  padding: 0rem 0.8125rem 0.8125rem 0.9375rem;
}

.slider-tranding__data {
  margin: 0rem 0rem 1.9375rem 0rem;
}

.slider-tranding__name {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0rem 0rem 0.5rem 0rem;
}

.slider-tranding__id {
  font-size: 1rem;
}

.slider-tranding__prices {
  background-color: var(--bg-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 20px;
  padding: 1rem 1.5rem;
}

.slider-tranding__etc-title {
  color: #999;
  font-size: 1rem;
  font-weight: 500;
}

.slider-tranding__etc-price {
  font-size: 0.875rem;
  font-weight: 600;
}

.slider-tranding__highest-etc_title {
  color: #999;
  font-size: 1rem;
  font-weight: 500;
}

.slider-tranding__highest-etc_price {
  font-size: 0.875rem;
  font-weight: 600;
}

.slider-tranding__arrow-r {
  right: 0.3125rem;
}

.insights {
  background-color: var(--bg-secondary);
  padding: 7.5rem 0;
  margin: 0rem 0rem 7.5rem 0rem;
}

.insights__label {
  margin: 0rem 0rem 3rem 0rem;
}

.insights__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.insights__column:not(:last-child) {
  margin: 0rem 3.75rem 0rem 0rem;
}

.insights__image {
  margin: 0rem 0rem 2rem 0rem;
}

.insights__image img {
  width: 100%;
}

.insights__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0rem 0rem 1rem 0rem;
}

.insights__speciality {
  text-transform: uppercase;
  margin: 0rem 0.875rem 0rem 0rem;
  color: #0A142F;
  font-size: 0.75rem;
  background-color: #F3F5F6;
  padding: 0.3125rem 0.75rem;
  border-radius: 36px;
}

.insights__date {
  font-size: 1rem;
  font-weight: 700;
  color: #DFE5F5;
}

.insights__title {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0rem 0rem 4rem 0rem;
}

.insights__button {
  border: 1px solid #FFF;
  border-radius: 30px;
  padding: 1.125rem 1.1875rem;
}

.insights__button img {
  margin: 0rem 0rem 0rem 0.5rem;
}

.download {
  background-color: var(--bg-secondary);
  padding: 5.9375rem 8.75rem 5.9375rem 4.5rem;
  border-radius: 50px;
  margin: 0rem 0rem 7.5rem 0rem;
}

.download__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.download__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.download__button-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0rem 1rem 0rem 0rem;
  background-color: var(--bg-primary);
  padding: 0.875rem 3rem;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.download__button-app path {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.download__button-app svg {
  margin: 0rem 0.5rem 0rem 0rem;
}

.download__button-app:hover {
  background-color: var(--bg-accent);
  color: var(--bg-secondary);
}

.download__button-app:hover path {
  fill: var(--bg-secondary);
}

.download__button-play {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.875rem 3rem;
}

.download__button-play path {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.download__button-play svg {
  margin: 0rem 0.5rem 0rem 0rem;
}

.download__button-play:hover path {
  fill: var(--bg-accent);
}

@media (min-width: 47.99875em) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu__item:not(:last-child) {
    margin: 0rem 2.5rem 0rem 0rem;
  }
}

@media (max-width: 106.25em) {
  .slider-categories__arrow-l {
    left: -0.6875rem;
  }

  .slider-categories__arrow-r {
    right: -0.6875rem;
  }
}

@media (max-width: 61.99875em) {
  .footer__top {
        grid-template-areas: "menu card";
    -webkit-column-gap: 100px;
       -moz-column-gap: 100px;
            column-gap: 100px;
    -ms-grid-columns: auto 100px auto;
    grid-template-columns: repeat(2, auto);
    row-gap: 60px;
  }

  .top-footer__logo {
    display: none;
  }

  .top-footer__card-decoration {
    display: none;
  }

  .input {
    letter-spacing: -0.213px;
  }

  .main__body {
        grid-template-areas: "title" "image" "decorations";
  }

  .main__info {
    text-align: center;
  }

  .main__decorations {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0rem 0rem 3.8125rem 0rem;
  }

  .main__circle {
    display: none;
  }

  .collections__body {
    -ms-grid-rows: (auto)[6];
    -ms-grid-columns: (auto)[2];
        grid-template: repeat(6, auto)/repeat(2, auto);
  }

  .download {
    padding: 0rem 0rem 0rem 0rem;
    background: #101010;
  }

  .download__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .download__label {
    text-align: center;
    margin: 0rem 0rem 2rem 0rem;
  }
  .top-footer__columns {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .top-footer__card {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .main__info {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .main__decorations {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .main__images {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }
}

@media (max-width: 47.99875em) {
  .header {
    padding: 2.375rem 0rem 3rem 0rem;
  }

  .header__button {
    display: none;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
    background-color: var(--bg-primary);
    padding: 8.125rem 0.9375rem 1.875rem 0.9375rem;
    z-index: 4;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    height: 8.4375rem;
    background-color: var(--bg-primary);
    z-index: 2;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__item:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .menu__link {
    font-size: 1.875rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.1041875rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer {
    padding: 2.5rem 0rem 1.8125rem 0rem;
  }

  .footer__top {
    -ms-grid-columns: (auto)[1];
    grid-template-columns: repeat(1, auto);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
        grid-template-areas: "card" "menu";
  }

  .top-footer__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .top-footer__column:not(:last-child) {
    margin: 0rem 0rem 2.5rem 0rem;
  }

  .footer__bottom {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .bottom-footer__links {
    display: none;
  }

  .bottom-footer__social:not(:last-child) {
    margin: 0rem 1.5rem 2.5625rem 0rem;
  }

  .bottom-footer__hidden {
    display: none;
  }

  .main__label {
    font-size: 18px;
    letter-spacing: 0.72px;
  }

  .main__title {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1.2px;
  }

  .main__decorations {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .main__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main__image img {
    width: 18.75rem;
    height: 18.75rem;
    border-radius: 50px;
  }

  .main__background {
    width: 13.75rem;
    height: 13.75rem;
  }

  .actions-main__button {
    display: none;
  }

  .actions-main__avatars {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .actions-main__avatar:not(:first-child) {
    margin: -1rem 0rem 0rem 0rem;
  }

  .actions-main__arrow {
    -webkit-transform: rotate(110deg) scaleY(-1);
        -ms-transform: rotate(110deg) scaleY(-1);
            transform: rotate(110deg) scaleY(-1);
  }

  .actions-main__arrow img {
    width: 5.9375rem;
    height: 4.625rem;
  }

  .ratings-main__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .ratings-main__column:not(:last-child) {
    margin: 0rem 0rem 2rem 0rem;
  }

  .categories__slider {
    margin: 0rem 0rem 0rem 1.375rem;
  }

  .collections {
    background-color: #101010;
    padding: 0rem 0rem 5.375rem 0rem;
  }

  .collections__label {
    text-align: center;
  }

  .collections__buttons {
    display: none;
  }

  .collections__body {
    -ms-grid-rows: (auto)[3];
    -ms-grid-columns: (auto)[1];
        grid-template: repeat(3, auto)/repeat(1, auto);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .collections__item {
    padding: 0.625rem 0rem 0.625rem 0.625rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .collections-hidden {
    display: none;
  }

  .item-collections__information {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin: 2.0625rem 1.875rem 0rem 0rem;
  }

  .item-collections__texts {
    margin: 0rem 0rem 1rem 0rem;
  }

  .item-collections__title {
    margin: 0rem 0rem 0.25rem 0rem;
  }

  .tranding__slider {
    margin: 0rem 0rem 0rem 0.625rem;
  }

  .slider-tranding__image img {
    width: 17.5rem;
  }

  .insights {
    padding: 5rem 0;
    margin: 0rem 0rem 5rem 0rem;
  }

  .insights__label {
    text-align: center;
  }

  .insights__columns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .insights__column:not(:last-child) {
    margin: 0rem 0rem 0rem 0rem;
  }

  .insights__column {
    text-align: center;
  }

  .insights-hidden {
    display: none;
  }

  .insights__image img {
    width: 19.6875rem;
    height: 19.6875rem;
  }

  .insights__image {
    margin: 0rem 0rem 2.375rem 0rem;
  }

  .insights__description {
    margin: 0rem 0rem 1.375rem 0rem;
  }

  .insights__title {
    max-width: 20rem;
    text-align: center;
    margin: 0rem 0rem 3rem 0rem;
  }

  .download {
    margin: 0rem 0rem 5rem 0rem;
  }

  .download__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .download__button-app {
    margin: 0rem 0rem 1.5rem 0rem;
    width: 16.875rem;
  }

  .download__button-play {
    width: 16.875rem;
  }

  .top-footer__columns {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .top-footer__card {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (any-hover: hover) {
  .button:hover {
    color: var(--bg-accent);
    background-color: #2C2D31;
  }
}